.jokes_board {
    background-color: white;
    display: flex;
    width: 80%;
    min-width: 220px;
    margin: auto;
    flex-direction: column;
    border: 2px solid #efefef;
    box-shadow:
        0 12px 5px -5px rgba(0, 0, 0, 0.15);
    padding: 20px;
}