.todo_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 12pt;
    line-height: 14pt;
    color: #333333;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}