.content {
    /* height: 50px; */
    padding: 5px;
    /* text-align: center; */
    font-size: 12pt;
    font-weight: bold;
    line-height: 12pt;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}